In [ ]:
def func(x) :
    print(x)

func(10)
func(20)

10
20

In [ ]:
def addtwo(a, b):
    added = a + b
    return a

x = addtwo(2, 7)
print(x)

2

In [ ]:
def computepay(h,r):
    if h<=40:
        pay=h*r
    elif h>40:
        pay=40*r+(h-40)*r*1.5
        return pay    

hrs = input("Enter Hours:")
h = float(hrs)
rate = input("Enter rate:")
r = float(rate)
p = computepay(h,r)
print(p)

Enter Hours:40
Enter rate:10.25
None

In [ ]:
hrs = input("Enter Hours:")
h = float(hrs)
rate = input("Enter rate:")
r = float(rate)

def computepay(h,r):
  if h<=40:
    pay=hr
  elif h>40:
    pay=40*r+(h-40)*r*1.5
  return(pay)
p = computepay(h,r)
print('Pay',p)

Enter Hours:45
Enter rate:10.50
Pay 498.75

In [ ]:
tot = 0 
for i in [5, 4, 3, 2, 1] :
    tot = tot + 1
print(tot)

5

In [ ]:
friends = ['Joseph', 'Glenn', 'Sally']
for friend in friends :
     print('Happy New Year:',  friend)
print('Done!')

Happy New Year: Joseph
Happy New Year: Glenn
Happy New Year: Sally
Done!

In [ ]:
num = 0
largest = -1
smallest = None
while True:
    num = input("Enter a number: ")
    if num == "done" :
        break
    try :
        numb = int(num)
    except :
        print('Invalid input')
    if smallest is None :
        smallest = numb
    elif numb < smallest :
        smallest = numb
    elif numb > largest :
        largest = numb
print("Maximum is", largest)
print("Minimum is", smallest)

Enter a number: 7
Enter a number: 2
Enter a number: bob
Invalid input
Enter a number: 10
Enter a number: 4
Enter a number: done
Maximum is 10
Minimum is 2

In [ ]:
num1 =1.5
num2= 2.5
sum= float(num1) + float(num2)
print("the sum is" )